#box{
    height: 200px;

    display: flex;

    justify-content: start;

    align-items: start;

    background: red;
}

.box-1{
   width: 100px;
   height: 100px;
   background: green;
   border: 2px solid gray;
}