{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#B8C6DB"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'media/ngs_logo.ico' %}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.webmanifest" >
    <link rel="stylesheet" href="mystyle.css">
    <title>{{ title }}</title>

    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <meta name="author" content="">

</head>

<body font>
    {% csrf_token %}
    
</body>
</html>